{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/changelog",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "lib/index.esm.js",
            "label": "ES Module"
          },
          {
            "path": "lib/index.js",
            "label": "Common JS"
          },
          {
            "path": "lib/index.d.ts",
            "label": "Typings"
          }
        ]
      }
    ]
  ]
}
